@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'popins';
  src: local('popins'), url('./assets/fonts/Poppins-Medium.ttf') format('woff');
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "popins";
}
  
.active{
  color: #f79d2b;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
    padding-left: auto;
}
  
@media (max-width: 575.98px) {
    .container {
      max-width: 100%;
    }
}
  
@media (min-width: 640px) {
    .container {
      max-width: 100%;
    }
}
  
@media (min-width: 768px) {
    .container {
      max-width: 100%;
    }
}
  
@media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
}
  
@media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
}